body{padding-top:50px;}
h3{font-weight: normal;margin:0;font-size:17px;}
.yahei{font-family: microsoft yahei}
ul,li,h4{padding:0;margin:0;}
.mt{margin-top:50px;}
li{list-style:none}
.fl{float: left}
.fr{float: right;}
 
 
.com{background: #fff;}
.com li{line-height:26px;border-bottom: 1px dashed #eee}
.com .page-header{margin:10px 0 20px;padding:0 0 10px;} 

.nav li{border-bottom:0px;}
.phto-list{padding:0;margin:0}
.phto-list li{width:200px; float:left;margin:0 20px 10px 0;}
.phto-list li img{width:200px;height:200px;}

/*login*/
.login-c{margin:50px 0; }
.login-right{margin:90px 0;padding:30px 20px;}

/*footer*/
.footer{border-top:1px solid #eee;padding:15px 0 20px;margin-top:50px;background:#fbfbfb}


.subnav{padding-bottom: 10px;}
.subnav strong,.subnav a:hover{text-transform: none; border-radius: 3px; background:#359ace;color:#fff;margin:0 8px;padding:3px 5px;}
.subnav a{color:#999;border-radius: 3px;background:#f5f5f5;margin:0 5px;padding:3px 8px;}



/*twitter*/
.twtterul li{padding:10px 0;}
.twtterul .avatar{width:50px;height:50px;float:left;}
.twtterul .cont{margin-left:60px;}
.twtterul .cont .contxt{min-height:40px;}
.twtterul .cont .info{background:#f5f5f5;font-size: 12px;height:15px;line-height: 15px;}
.twtterul .cont .info span{margin-right:10px;color:#999;}




/*product14*/
.productlist{padding:10px 0;}
.productlist:hover{background: #f5f5f5}
.productlist .avatar{width:80px;float:left;}
.productlist .list-content{margin-left:100px}
.productlist h4{font-size:14px;}
.productlist .time{color:#999;}
.productlist .del{display: none;padding-right:10px;}
.productlist:hover .del{display: block;}

/*service14*/
.servicelist{padding:10px 0;}
.servicelist:hover{background: #f5f5f5}
.servicelist .avatar{width:80px;float:left;}
.servicelist .list-content{margin-left:100px}
.servicelist h4{font-size:14px;}
.servicelist .time{color:#999;}
.servicelist .del{display: none;padding-right:10px;}
.servicelist:hover .del{display: block;}